* {
  margin: 0;
  padding: 0;
}

#jumbotron,
#jumbotron .container-fluid,
#jumbotron .container-fluid {
  height: 60vh; /* or whatever height you want */
  max-height: 600px; /* optional safety */
}
#jumbotron .container-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
